.large-hero{
    position: relative;
    &__image{
        display: block;
        border-bottom: 10px solid var(--main-blue);
    }
    &__text-content{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    &__title{
        font-weight: 300;
        color: var(--main-blue);
        font-size: 2.2rem;
        margin: 0;
        @mixin atSmall{
            font-size: 4.8rem;
        }
    }
    &__subtitle{
        font-weight: 300;
        color: var(--main-blue);
        font-size: 1.5rem;
        margin: 0;
        @mixin atSmall{
            font-size: 2.9rem;
        }
    }
    &__description{
        max-width: 30rem; /*480px */
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
        font-size: 1.1rem;
        color: #fff;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        @mixin atSmall{
            font-size: 1.875rem;            
        }
    }

}